In [1]:
import math
import shutil
import pandas as pd
import numpy as np
from numpy import loadtxt
import glob
import sys

In [2]:
from operator import add

In [3]:
from hillfit import fitting

In [19]:
test_file = '221108_AI4DR_Test.csv'
out_test_file = '221112_AI4DR_Test_Hill_parameters.csv'

In [5]:
test_df = pd.read_csv(test_file, sep=';')

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   row ID        6500 non-null   object
 1   xArray        6500 non-null   object
 2   CurveType     6500 non-null   object
 3   Classe        6500 non-null   object
 4   Classe_Index  6500 non-null   int64
 5   CATOP         6500 non-null   int64
 6   CANB          6500 non-null   int64
 7   CASIG         6500 non-null   int64
 8   CANT          6500 non-null   int64
 9   CAHS          6500 non-null   int64
 10  CNA           6500 non-null   int64
 11  P             6500 non-null   int64
 12  NT            6500 non-null   int64
 13  LS            6500 non-null   int64
 14  BA            6500 non-null   int64
 15  BTOX          6500 non-null   int64
 16  W             6500 non-null   int64
 17  LU            6500 non-null   int64
 18  Y1_str        6500 non-null   object
 19  Y2_str        6500 non-null   object
dtypes: int64(14), object(6)
memory usage: 1015.8+ KB

In [7]:
test_df['xArray_l'] = test_df['xArray'].map(lambda x: list(eval(x)))

In [8]:
test_df.head(2)

,row ID,xArray,CurveType,Classe,Classe_Index,CATOP,CANB,CASIG,CANT,CAHS,...,P,NT,LS,BA,BTOX,W,LU,Y1_str,Y2_str,xArray_l
0,Row2532_dup_dup_dup_dup_dup_dup,"1.52e-10, 4.57e-10, 1.37e-09, 4.12e-09, 1.23e-...",P,P,6,0,0,0,0,0,...,1,0,0,0,0,0,0,"46.452767076766726,45.96055970065031,43.088203...","43.376519785274915,44.56103936777832,41.653973...","[1.52e-10, 4.57e-10, 1.37e-09, 4.12e-09, 1.23e..."
1,Row276_dup_dup_dup_dup_dup_dup_dup_dup_dup_dup...,"1.52e-10, 4.57e-10, 1.37e-09, 4.12e-09, 1.23e-...",W,W,11,0,0,0,0,0,...,0,0,0,0,0,1,0,"68.99942635443418,62.83190802700357,50.3635367...","68.85102230628058,58.81480882317964,50.1731134...","[1.52e-10, 4.57e-10, 1.37e-09, 4.12e-09, 1.23e..."

In [9]:
test_df['Y1_l'] = test_df['Y1_str'].map(lambda x: list(eval(x)))
test_df['Y2_l'] = test_df['Y2_str'].map(lambda x: list(eval(x)))

In [10]:
mean_Y = []
for y1,y2 in zip(test_df['Y1_l'],test_df['Y2_l']):
    y_tmp = list( map(add, y1, y2) )
    y_tmp = [ x/2 for x in y_tmp]
    mean_Y.append(str(y_tmp))

In [11]:
test_df['Y_mean_str'] = mean_Y

test_df.head(2)

In [12]:
curr_dir = '/root/workdir/221111/AI4DR'
r_2_list = []
top_list = []
bottom_list = []
ec50_list = []
nh_list = []
for xx,yy in zip(test_df['xArray'],test_df['Y_mean_str']):
    xx = list(eval(xx))
    yy = eval(yy)
    yy.reverse()
    hf = fitting.HillFit(xx, yy)
    try:
        hf.fitting(log_x = True, generate_figure = False)
        r_2_list.append(hf.r_2)
        top_list.append(hf.top)
        bottom_list.append(hf.bottom)
        ec50_list.append(hf.ec50)
        nh_list.append(hf.nH)
    except:
        r_2_list.append(np.nan)
        top_list.append(np.nan)
        bottom_list.append(np.nan)
        ec50_list.append(np.nan)
        nh_list.append(np.nan)
    dirs = glob.glob(f'{curr_dir}/Hillfit-reg*/')
    for d in dirs:
        shutil.rmtree(d)
        #print(d)
    #break

/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/sigfig/sigfig.py:586: UserWarning: warning: 6 significant figures requested from number with only 1 significant figures
  warn("warning: %d significant figures requested from number with only %d significant figures" % (given['sigfigs'], len(num.map)))
/groups/idd/conda_envs/env_AI4DR_modeling/lib/python3.9/site-packages/hillfit/fitting.py:35: RuntimeWarning: invalid value encountered in true_divide
  return self.bottom + (self.top - self.bottom) * x**self.nH / (

In [13]:
test_df['r2'] = r_2_list
test_df['top'] = top_list
test_df['bottom'] = bottom_list
test_df['ec50'] = ec50_list
test_df['nh'] = nh_list

In [14]:
test_df = test_df[['row ID', 'CurveType', 'Classe', 'Classe_Index', 'CATOP', 'CANB', 'CASIG', 'CANT', 'CAHS', 'CNA', 'P', 'NT', 'LS', 'BA', 'BTOX', 'W', 'LU', 'r2', 'top', 'bottom', 'ec50', 'nh']]

In [15]:
test_df.tail()

,row ID,CurveType,Classe,Classe_Index,CATOP,CANB,CASIG,CANT,CAHS,CNA,...,LS,BA,BTOX,W,LU,r2,top,bottom,ec50,nh
6495,Row328_dup_dup_dup_dup_dup,CNA,CNA,5,0,0,0,0,0,1,...,0,0,0,0,0,0.214888,0.845193,-2.004722,3.061252e-06,14.247686
6496,Row3752_dup_dup_dup_dup_dup_dup_dup_dup,LS,LS,8,0,0,0,0,0,0,...,1,0,0,0,0,0.994323,99.673179,9.762590,3.594043e-08,0.391747
6497,Row4383_dup_dup_dup_dup_dup_dup_dup,NT,NT,7,0,0,0,0,0,0,...,0,0,0,0,0,0.949785,39.806525,-1.710019,2.317366e-06,1.973665
6498,Row4549_dup,CANB,CANB,1,0,1,0,0,0,0,...,0,0,0,0,0,0.698936,105.533494,65.861293,2.686414e-09,0.407003
6499,Row1960_dup_dup_dup_dup_dup_dup_dup_dup_dup_du...,W,W,11,0,0,0,0,0,0,...,0,0,0,1,0,0.969771,89.963040,20.742516,3.795673e-07,1.939066

In [18]:
test_df.query('Classe == \'LU\'').describe()

,Classe_Index,CATOP,CANB,CASIG,CANT,CAHS,CNA,P,NT,LS,BA,BTOX,W,LU,r2,top,bottom,ec50,nh
count,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,496.000000,496.000000,496.000000,4.960000e+02,496.000000
mean,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.988214,94.401733,-0.037174,2.380851e-06,9.172381
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.019022,28.742142,8.197101,5.297481e-07,5.520885
min,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.784110,21.825673,-19.927316,1.095252e-06,1.959215
25%,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.987125,72.522502,-6.265116,2.391811e-06,4.000869
50%,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.994036,93.034791,0.194638,2.579504e-06,7.403950
75%,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.997290,114.771811,5.966171,2.751674e-06,15.115301
max,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.999924,176.028328,19.432252,2.877770e-06,18.302507

In [20]:
test_df.to_csv(out_test_file)